body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}

img {
    display: block;
}

.nav {
    padding: 20px 22% 0px 22%;
}

.content {
    padding: 110px 22%;
}
.dark-bg {
    background-color: #1f2937;
}

.white-bg {
    background-color: white;
}

.grey-bg {
    background-color: #e5e7eb;
}

.cta {
    background-color: #3882f6;
    padding: 5% 10%;
    border-radius: 5px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.center {
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: bolder;
    color: #1f2937;
}

h4 {
    font-size: 18px;
    font-weight: normal;
    color: #e5e7eb;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.dark-bg :is(h1, h2, h3, h4, h5, h6),
.cta :is(h1, h2, h3, h4, h5, h6) {
    color: #f9faf8;
}

.dark-bg p, .cta p {
    color: #e5e7eb;
}

button {
    align-self: flex-start;
    background-color: #3882f6;
    color:#e5e7eb;
    border-radius: 5px;
    border: 0px;
    padding: 10px 25px;
}


.flex-v {
    display: flex;
    flex-direction: column;
}

header ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

li.logo {
    margin-right: auto;
}


.flex-h{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.flex-h .one {
    justify-content: flex-start;
    gap: 15px;
    flex: 3;
}

.flex-h .two {
    flex: 4;
    /* flex-basis: 500px; */
}

.two {
    position: relative;
}
.two img {
    height: 200px;
    background-color: grey;
    outline: 0;
}

.two p {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.white-outline {
    outline: 2px solid white;

}

.item img {
    height: 150px;
    outline: 2px solid #3882f6;
    border-radius: 5px;
}

.item {
    flex-shrink: 1;
    flex-basis: 150px;
}

h3.quote-tag {
    text-align: right;
}

.collection{
    padding-top: 20px;
    justify-content: center;
}

.collection .flex-v{ 
    gap: 10px;
}